@charset "UTF-8";

/**************
 * Common
 **************************************************************/
*{
	margin: 0;
	padding: 0;
}
html{
	width: 100%;
	height: calc(100% - 48px);
	height: -moz-calc(100% - 48px);
	height: -webkit-calc(100% - 48px);
}
body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #333;
	background-image: url('./cloth.png');
	color: #fff;
	text-align: center;
	font-size: 15px;
	font-family: sans-serif;
	line-height: 1.5em;
}

a{
	color: #6af;
	text-decoration: none;
}
a:hover{
	color: #9cf;
	text-decoration: underline;
}
a.blockLink{
	display: block;
	width: 100%;
	padding: .5em 1em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
a.blockLink:hover{
	background-color: #eee;
	text-decoration: none;
	color: #37c;
}

img{ border: 0; }
p, dd{
	text-align: left;
	line-height: 1.9em;
}
del{ color: #999; }
q{quotes: "「" "」" "『" "』"; }
q:before{content: open-quote; }
q:after{content: close-quote; }
code{
	margin: 0 .5em;
	padding: .2em .4em;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: #fffbf0;
	font-size: .8em;
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	color: #000;
}
abbr{
	font-style: normal;
	border-bottom: 2px dashed #ccc;
}

.marked{ color: #f66; }
.selected{ background-color: #e4f2ff; }
.whispered{ font-size: .75em; color: #999; }
.button{
	margin: 0 .3em;
	padding: .2em;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: .8em;
	background: linear-gradient(#fcfcfc, #f5f5f5);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, .15);
	color: #665;
}

.clear{ clear: both; }


/**************
 * Content Section
 **************************************************************/
#content{
	width: 620px;
	height: auto;
	min-height: 100%;
	margin: 48px auto 0;
	background-color: #ccc;
	color: #666;
	background-image: url('./sand.png');
	box-shadow: 0 0 16px rgba(0, 0, 0, .5);
}
#content>footer{
	padding: 24px 0 16px;
	clear: left;
	font-size: .9em;
	text-shadow: 1px 1px #ddd;
}
#content>footer a{
	color: #666;
}
#content>footer a:hover{
	text-decoration: underline;
}

/**************************************************************/
#content>header{
	width: 100%;
	height: 280px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	overflow: hidden;
	position: relative;
	top: -4px;
	clear: both;
	z-index: 4;
	text-align: left;
	background-color: #444;
}
.topBg{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -6;
	background-image: url('./sand.png');
	opacity: .5;
}

.topTitle{
	display: block;
	width: auto;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	position: absolute;
	top: 80px;
	left: 0;
	z-index: 64;
	background-color: #fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}
.topTitle h1{
	margin: 28px 40px 0 32px;
	font-size: 2em;
	font-weight: 300;
	letter-spacing: .01em;
	color: #666;
}
.topTitle svg g{
	fill: #666;
}
.topTitle span{
	display: block;
	margin: 0 40px 24px 32px;
	font-size: 1em;
	letter-spacing: .01em;
	color: #666;
}

.topAvatar{
	float: right;
	position: absolute;
	top: 48px;
	right: 64px;
	text-align: center;
}
.topAvatar figure{
	display: inline-block;
	border: 4px solid #fff;
	border-radius: 4px;
}
.topAvatar img{
	display: block;
	max-width: 160px;
	margin: 0;
	padding: 0px;
	box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}

/**************
 * Sheets
 **************************************************************/
.sheet1{
	width: 640px;
	margin-top: -16px;
	padding-right: -50px;
	border-radius: 16px;
	border-bottom-left-radius: 0;
	position: relative;
	left: -20px;
	float: left;
	z-index: 8;
	background-color: #fff;
	text-align: left;
	box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}

/**************************************************************/
.sheet2{
	width: 320px;
	margin-top: 16px;
	border-radius: 16px;
	border-bottom-right-radius: 0;
	position: relative;
	left: 20px;
	float: right;
	z-index: 16;
	background-color: #f9f9f9;
	text-align: left;
	box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}


/**************
 * Sections + Articles Framework
 **************************************************************/
.clip{
	width: 96px;
	height: 56px;
	position: absolute;
	top: 4px;
	left: -32px;
	z-index: 256;
	background-image: url('./clip.svg');
	background-repeat: no-repeat;
	background-position: 0 8px;
}

.sheet>section, .sheet>article{
	display: block;
	margin: 24px 16px 24px 16px;
	padding-bottom: 1px;
	width: 288px;
	font-size: .95em;
	float: left;
	position: relative;
	background-color: #fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}
.sheet1>section, .sheet1>article{
	clear: left;
}
.sheet.full>section, .sheet.full>article{
	clear: both;
	width: 608px;
	font-size: 1em !important;
}

.sheet>section>header, .sheet>article>header{ min-height: 1px; }
.sheet>section>header>h3, .sheet>article>header>h3{
	padding: 10px .8em;
	font-size: 1.45em;
	font-weight: 300;
	letter-spacing: 2px;
	color: #fff;
	overflow: hidden;
	border-left: 64px solid #9cf;
	line-height: 1em;
	background-color: #6af;
}


/**************
 * Sections + Articles Document Style
 **************************************************************/
.sheet>section p, .sheet>article p{ margin: 1em; }
.sheet>section dl, .sheet>article dl{ margin: 1em; }
.sheet>section dt, .sheet>article dt{ font-weight: bold; }
.sheet>section dd, .sheet>article dd{ margin: 0 0 1em 1em; }
.sheet>section h4, .sheet>article h4{
	position: relative;
	width: 90%;
	margin: 2em auto .5em;
	border-bottom: 3px solid #6af;
	text-align: center;
	line-height: 3em;
	clear: both;
}
.sheet.full>section h4, .sheet.full>article h4{
	margin: 3em auto 1em;
}
.sheet>section h4:before, .sheet>article h4:before{
	display: inline-block;
	content: "";
	width: .5em;
	height: .5em;
	border-top: 2px solid #6af;
	border-left: 2px solid #6af;
	font-size: 2em;
	font-weight: 300;
	color: #6af;
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}
.sheet>section h4:after, .sheet>article h4:after{
	display: inline-block;
	content: "";
	width: .5em;
	height: .5em;
	border-top: 2px solid #6af;
	border-right: 2px solid #6af;
	font-size: 2em;
	font-weight: 300;
	color: #6af;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}
/******** Lists ********/
.sheet>section ul, .sheet>section ol,
.sheet>article ul, .sheet>article ol{ margin: 1em 1em 1em 2.5em; }
.sheet.full>section ul, .sheet.full>section ol,
.sheet.full>article ul, .sheet.full>article ol{ margin: 1em 1em 1em 3em; }

.sheet>section ul, .sheet>article ul{ list-style: circle url('./list-disc.svg'); }
.sheet>section ol, .sheet>article ol{ list-style-type: decimal; }

.sheet>section ul li, .sheet>section ol li,
.sheet>article ul li, .sheet>article ol li{
	margin: .3em 0;
	line-height: 1.6em;
}

/******** Figures ********/
.sheet>section .centerFig, .sheet>article .centerFig{
	width: 100%;
	margin: 2em 0;
	text-align: center;
	clear: both;
	overflow-x: auto;
}
.sheet>section .centerFig>*, .sheet>article .centerFig>*,
.sheet>section .rightFig>*, .sheet>article .rightFig>*{
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
}
.sheet.full>section .centerFig img, .sheet.full>article .centerFig img,
.sheet.full>section .rightFig img, .sheet.full>article .rightFig img{
	padding: 4px;
	border: 1px solid #ccc;
	z-index: 160;
	box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}
.sheet>section figcaption, .sheet>article figcaption{
	margin: 1em 0;
	font-size: .9em;
}

.sheet>section .rightFig, .sheet>article .rightFig{
	max-width: 128px;
	margin: 0 1.5em;
	float: right;
}
.sheet>section .rightFig figcaption, .sheet>article .rightFig figcaption{
	margin: .5em 0;
	font-size: .8em;
}

/******** Quotations ********/
.sheet>section blockquote, .sheet>article blockquote{
	width: 90%;
	margin: 1em auto;
	padding: 1em 0;
	box-shadow: 0 0 4px rgba(0, 0, 0, .25);
	background-image: url('./quote.svg'), url('./sand.png');
	background-repeat: no-repeat, repeat;
	text-align: left;
}
.sheet>section blockquote>*:first-child, .sheet>article blockquote>*:first-child{ margin-top: 0; }
.sheet>section blockquote>*:last-child, .sheet>article blockquote>*:last-child{ margin-bottom: 0; }

/******** Preformatted ********/
.sheet>section pre, .sheet>article pre{
	width: 90%;
	margin: 1em auto;
	padding: 1em;
	border-radius: 2px;
	box-shadow: 0 0 4px rgba(0, 0, 0, .25);
	background-color: #fffbf0;
	overflow-x: auto;
	text-align: left;
	font-size: .8em;
	line-height: 1.4em;
}
.sheet>section pre.cmd, .sheet>article pre.cmd{
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	background-color: #3f3b30;
	color: #efefef;
}

/******** Aside ********/
.sheet>section aside, .sheet>article aside{
	margin: 3em 1em;
	border: 2px dashed #ccc;
	font-size: .9em;
	line-height: 1.6em;
}

/******** Form ********/
.sheet>section form input[type=submit], .sheet>section form input[type=button], .sheet>section form input[type=reset], .sheet>section form button,
.sheet>article form input[type=submit], .sheet>article form input[type=button], .sheet>article form input[type=reset], .sheet>article form button{
	padding: .2em .5em;
}
.sheet>section form input[type=radio],
.sheet>article form input[type=radio]{
	margin: .2em 0 .2em 1em;
}

ection.card form textarea,
.sheet>article form textarea{
	width: 50px;
	box-shadow: 0 0 4px rgba(0, 0, 0, .25) inset;
}
.sheet>section form fieldset,
.sheet>article form fieldset{
	margin: 1em 1em 0;
	padding: 1em;
}

/******** Table ********/
.sheet>section table, .sheet>article table{
	width: 90%;
	margin: 1em auto;
	border: 3px solid #6af;
	border-collapse: collapse;
	font-size: .8em;
	word-break: break-all;
}
.sheet>section th, .sheet>article th,
.sheet>section td, .sheet>article td{
	border: 1px solid #6af;
	padding: .5em;
}
.sheet>section thead, .sheet>article thead{
	background-color: #9cf;
	color: #fff;
	text-shadow: 1px 1px #6af;
}
.sheet>section tbody>tr:nth-child(2n),
.sheet>article tbody>tr:nth-child(2n){
	background-color: #f9fbff;
}

/**************
 * Sections Document Style
 **************************************************************/
.sheet>section ul.feedList, .sheet>section ol.feedList{
	margin: 0;
	list-style: none;
}
.sheet>section ul.feedList>li, .sheet>section ol.feedList>li{
	margin: 0;
	border-bottom: 1px solid #e8e8e8;
	padding: .6em .75em .5em;
}
.sheet>section ul.feedList>li:last-child,
.sheet>section ol.feedList>li:last-child{ border: 0; }


/**************
 * Articles Document Style
 **************************************************************/
.sheet>article footer{
	width: 100%;
	margin: .5em 0;
	text-align: right;
	clear: both;
}
.sheet>article footer>*:last-child{ margin-right: 1em; }
.sheet>article footer time{
	color: #666;
	font-style: italic;
	font-size: .7em;
}


/**************
 * <Mobile>
 **************************************************************/
@media (max-width:680px){
	img{ max-width: 90%; }

	/* content section */
	#content{
		width: 100%;
		margin: 0;
	}
	#content>header{
		height: 240px;
		margin-bottom: -1em;
	}
	#content>footer{
		padding: 8px;
	}
	#content ul,
	#content ol{ margin: 1em 0 1em 32px !important; }
	#content dl{ padding: 0 !important; }
	#content dt{ margin: 0 !important; }
	#content dd{ margin-left: 1em !important; }

	.topTitle{
		display: block;
		width: auto;
		margin: 0 auto;
		border-radius: 0;
		position: relative;
		top: 0;
		left: 0;
		background: none;
		box-shadow: none;
		text-align: center;
	}
	.topTitle h1{
		margin: 28px 0 8px;
		margin-left: .05em;  /* kerning */
		font-size: 2em;
		font-weight: 300;
		letter-spacing: 2px;
		color: #eee;
	}
	.topTitle svg g{
		fill: #eee;
	}
	.topTitle span{
		display: block;
		margin: 0 0 8px;
		color: #eee;
	}

	.topAvatar{
		display: block;
		float: none;
		position: relative;
		top: 0;
		right: 0;
	}
	.topAvatar img{
		display: block;
		max-width: 80px;
		margin: 0;
		padding: 0px;
		box-shadow: 0 0 4px rgba(0, 0, 0, .25);
	}

	/* sheets */
	.sheet1, .sheet2{
		width: 100%;
		margin: 0;
		padding: 0;
		left: 0;
		clear: both;
		border-radius: 0;
		background-color: #efefef;
	}
	.sheet2{
		box-shadow: none;
		background: none;
	}

	/* cards */
	.sheet>section, .sheet>article{
		width: calc(100% - 16px) !important;
		width: -moz-calc(100% - 16px) !important;
		width: -webkit-calc(100% - 16px) !important;
		margin: 16px 8px;
		font-size: 1em;
	}

	.sheet>section h4, .sheet>article h4{
		margin: 1.5em auto .5em;
	}

	/* quotations */
	blockquote{
		padding-left: .4em;
		margin:0 8px;
	}
}

